// project var

$primary: #B9543C;
$anchor-bottom-hover: darken($primary, 5%);
$font-family: "raleway", -apple-system, BlinkMacSystemFont, system, sans-serif;

@import "susy/sass/susy";
// modules

$mqs: (
  sm: 35.5em,
  md: 48em,
  lg: 78em
);

// craft init
@import "craftmodule/init";

// partials
@import "partial/index";

// craft modules
@import "craftmodule/susy";
@import "craftmodule/base";
@import "craftmodule/button";
@import "craftmodule/form";
@import "craftmodule/notice";
@import "craftmodule/svg";
@import "craftmodule/theme";


$breakpoint-not-small: 'screen and (min-width: 35.5em)';
$breakpoint-medium: 'screen and (min-width: 48em)';
$breakpoint-large: 'screen and (min-width: 78em)';

// tachyons
@import "tachyons-sass/tachyons";

.flex-column-reverse  { flex-direction: column-reverse; }
.flex-row-reverse     { flex-direction: row-reverse; }


  @media #{$breakpoint-not-small} {

  .flex-row-reverse-ns { flex-direction: row-reverse; }
  .flex-wrap-reverse-ns { flex-wrap: wrap-reverse; }
}
  @media #{$breakpoint-medium} {

    .flex-column-reverse-m { flex-direction: column-reverse; }
  .flex-row-reverse-m { flex-direction: row-reverse; }
}
  @media #{$breakpoint-large} {
    .flex-row-reverse-l { flex-direction: row-reverse; }
  .flex-wrap-reverse-l { flex-wrap: wrap-reverse; }
}

.bg-primary  { background-color: $primary }

@mixin notice($border-color: $yellow, $background-color: $grey-lightest) {
  border-left: 6px solid $border-color;
  border-radius: 2px;
  background-color: $background-color;
  padding: .75rem;
}

.notice {
  @include notice;
}

.grid-container-xtight {
  @include container(75%);
}